name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        # https://help.github.com/articles/virtual-environments-for-github-actions
        platform:
          - ubuntu-latest  # ubuntu-20.04
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox==3.26.0 pytest
    - name: Install package
      run: |
        pip install .
    - name: Test with tox
      run: tox

  chrome_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source tree
        uses: actions/checkout@v3
        with:
          ref: "test"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox==3.26.0 pytest
      - name: Install package
        run: |
          pip install .
      - name: run
        run: |
          mkdir export-dir
          nbdiff-web-exporter --export-dir ./export-data --port 8080  main test data/notebook.ipynb
      - name: check diff file is exists.
        run: |
          ls export-dir/notebook.html
